<table id="searchResultsSmapTable" class="resultTable">
	<thead>
	<tr>
		<th style="width:25px;">序号</th>
		<th title="点击查看完整名称">名称</th>
		<th title="点击查看完整地址">地址</th>
		<th title="点击查看完整坐标">坐标</th>
	    <th title="点击查看完整电话">电话</th>
	    <th title="点击查看完整街景">街景</th>
	    <th title="点击查看完整类型/类别">类型/类别</th>
	    <th title="点击查看完整轮廓">轮廓</th>
	 </tr>
	 </thead>
	 {{#pois}}
    	<tr>
    	<td>{{addOne @index}}</td>
 		<td>{{havaVal name}}</td>
		<td>{{havaVal address}}</td>
		<td>{{havaVal latLng}}</td>
		<td>{{havaVal phone}}</td>
		<td><a href="javascript:void(0);" id='{{panoinfo.id}}'>{{havaView panoinfo}}</a></td>
		<td>{{havaVal category}}</td>
		<td>{{havaVal boundary}}</td>
 		</tr>
 	{{/pois}}
</table>

<div id='exportRelBmapDiv'>
<span>总记录数：{{totalNum}}</span><span style="margin-left: 20px;"></span>总页数：<span id="goPageSmapTotal">{{pages totalNum}}</span>
<span id="page">
	<button class="goPageSmap">上一页</button>
	<input id="goPageSmapInput" type="text" value="1" style="width:30px;text-align: center;"/><button class="goPageSmap">GO</button>
	<button class="goPageSmap">下一页</button>
</span>
</div>       